<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened=!opened">
      <mat-icon >menu</mat-icon>
    </button>
    <span>IPMonitor</span>
    <span class="menu-spacer"></span>
    <div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="push" style="background-color: #ffff; width: 22vh;" >
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" (click)="closeSidenav()">Home</a>
      <a mat-list-item *ngIf="this.authService.isLoggedIn" class="p-2 text-dark" routerLinkActive="active" routerLink="/dashboard" (click)="closeSidenav()">Dashboard</a>
      <a mat-list-item *ngIf="!this.authService.isLoggedIn" class="p-2 text-dark" routerLinkActive="active" routerLink="/register" (click)="closeSidenav()">Register</a>
      <a mat-list-item *ngIf="!this.authService.isLoggedIn" class="p-2 text-dark" routerLinkActive="active" routerLink="/login" (click)="closeSidenav()">Login</a>
      <a mat-list-item *ngIf="this.authService.isLoggedIn" [routerLink]="'/account'" (click)="closeSidenav()">Account</a>
      <a mat-list-item (click)="logout()" *ngIf="this.authService.isLoggedIn" (click)="closeSidenav()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style=" margin-top: 16px; margin-bottom: 16px;">
      <router-outlet></router-outlet>
    </div>
    <app-footer style="
    bottom:0px;
    width:100%;"></app-footer>
  </mat-sidenav-content>
  
</mat-sidenav-container>