.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 100vh;
  text-align: center;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}
.mat-mdc-card-header {
  display: flex;
  justify-content: center;
  padding: 16px 16px 0;
}

.mat-card {
  max-width: 400px;
  width: 100%;
}

.user-details {
  margin-bottom: 16px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-around;
}
