<h2>Add Ping Check</h2>

<form [formGroup]="pingCheckForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>IP Address</mat-label>
    <input matInput formControlName="ipAddress" required>
    <mat-error *ngIf="pingCheckForm.get('ipAddress')?.hasError('required')">IP Address is required</mat-error>
  <mat-error *ngIf="pingCheckForm.get('ipAddress')?.hasError('invalidIpv4')">Invalid IPv4 Address</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="interval" placeholder="Interval">
    <span matSuffix>seconds</span> <!-- Aggiungi il testo tra parentesi -->
    <mat-hint >Interval in seconds</mat-hint> <!-- O come testo di supporto -->
    <mat-error *ngIf="pingCheckForm.get('interval')?.hasError('required')">Interval is required</mat-error>
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="pingCheckForm.invalid">Add</button>
  </div>
</form>
