:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .mat-input-element {
    border-radius: 0;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  
  
  button {
    width: 100%;
    max-width: 200px;
    margin-top: 16px;
  }
  