<div class="change-password-container">
<h2>Change Password</h2>

<form [formGroup]="passwordForm" class="change-password-form" >
  <mat-form-field>
    <mat-label>Current Password</mat-label>
    <input matInput formControlName="currentPassword" [type]="passwordVisibility['currentPassword'] ? 'password' : 'text'"  required>
    <mat-icon matSuffix (click)="togglePasswordVisibility('currentPassword')">
      {{ passwordVisibility['currentPassword'] ? 'visibility' : 'visibility_off' }}
    </mat-icon>
    <mat-error *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
      Current Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput formControlName="newPassword" [type]="passwordVisibility['newPassword'] ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="togglePasswordVisibility('newPassword')">
      {{ passwordVisibility['newPassword'] ? 'visibility' : 'visibility_off' }}
    </mat-icon>
    <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">
      New Password is required
    </mat-error>
    <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
      New Password must be at least 8 characters long
    </mat-error>
    <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('pattern') && passwordForm.get('newPassword')?.touched">
      New Password must contain at least one uppercase letter, one digit, and one special character
    </mat-error>
  </mat-form-field>

  <div class="dialog-actions">
    <button style="margin-right: 10px;" mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onChangePassword()" [disabled]="passwordForm.invalid">Change Password</button>
  </div>
</form>
</div>